* {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  text-align: center;
  justify-content: center;
}

body {
  max-width: 1024px;
  background: #eee;
}

main {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  margin: 1rem;
  padding: 1rem;
}

h1 {
  padding: 0.25rem 0;
  margin: 0.75rem 0;
  align-self: center;
}
@media (min-width: 1024px) {
  h1 {
    padding: 0.25rem 0;
    margin: 1rem;
    width: fit-content;
    align-self: start;
  }
}

@media (min-width: 1024px) {
  h2, h3, h4, h5 {
    width: fit-content;
    align-self: start;
    margin: 0.25rem;
  }
}

h3:hover {
  cursor: pointer;
}

textarea {
  resize: none;
}

.notepad__button {
  min-width: 30%;
  border: none;
  border-radius: 4px;
  padding: 1rem;
  margin: 0.5rem 0;
  font-weight: bold;
}
.notepad__button:hover {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .notepad__button.add-button, .notepad__button.notepad-creation {
    margin: 0.5rem 0.25rem;
    min-width: 5%;
    max-width: 12.5%;
  }
  .notepad__button.notepad-creation {
    display: flex;
  }
}
.notepad__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .notepad__container.button-container {
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
  }
  .notepad__container.button-container.update-delete-button {
    justify-content: flex-start;
  }
}
@media (min-width: 1024px) {
  .notepad__creation {
    display: flex;
  }
  .notepad__creation .notepad__form {
    width: 100%;
  }
  .notepad__creation .save-button {
    min-width: fit-content;
    max-width: 12.5%;
  }
}
.notepad__edit, .notepad__entry {
  padding: 0.25rem 0;
  margin: 0.5rem 0;
}
@media (min-width: 1024px) {
  .notepad__form {
    display: flex;
    flex-direction: column;
  }
}
.notepad__head {
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0;
}
@media (min-width: 1024px) {
  .notepad__head {
    flex-direction: row;
  }
  .notepad__head.new-note, .notepad__head.edit-note, .notepad__head.new-notepad-title, .notepad__head.new-note-title {
    flex-direction: column;
  }
  .notepad__head.new-note button, .notepad__head.edit-note button, .notepad__head.new-notepad-title button, .notepad__head.new-note-title button {
    margin: 0.5rem 0.25rem;
  }
}
.notepad__head.notepad-name {
  justify-content: space-between;
}
.notepad__input {
  padding: 1em;
  margin: 0.25rem;
}
.notepad__input.text-input {
  min-height: 10rem;
}
@media (min-width: 1024px) {
  .notepad__input.title-input {
    width: 35%;
  }
}
@media (min-width: 1024px) {
  .notepad__input {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .notepad__label {
    align-self: start;
    min-width: fit-content;
    margin: 0.25rem;
  }
}
.notepad__savednotepads {
  display: flex;
  flex-direction: column;
}

.add-button {
  background: #57b93e;
}

.save-button, .update-button {
  background: #39acdc;
}

.delete-button {
  background: #ec3646;
}

.add-button, .save-button, .update-button, .delete-button {
  color: #fff;
}

::placeholder {
  color: #aaaaaa;
}

/*# sourceMappingURL=style.css.map */
